body {
	background-color: #333;
}

#quizContainer, #newQuizContainer {
	background-color: #00CC96;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	border-bottom: 10px solid #006940;
	height: 300px
}

form {
	font-size: 20px;
}

#submitButton[type=submit] {
	margin-top: 20px;
	font-size: 20px;
}

#retakeButton[type=submit] {
	margin-top: 20px;
	font-size: 20px;
	position: relative;
	top: 146px;
}